In [1]:
import sys
import numpy as np
import pandas as pd
from dataset_loader import datasets_loader
from settings import classifiers_settings_test, classifiers_settings_test_weights, classifiers_settings_eniac
from fairness_experiments import Experiment
from adult_di import adult, german, bank, compas, titanic

from preprocessing_methods.massaging import Massaging
from preprocessing_methods.uniformSampling import UniformSampling
from preprocessing_methods.preferentialSampling import PreferentialSampling

from aif360.algorithms.preprocessing.reweighing import Reweighing
from aif360.algorithms.preprocessing import DisparateImpactRemover,LFR

# German

In [ ]:
df_german = pd.DataFrame()
df_german = german(df_german)
df_german.to_csv('german_results_diego.csv')

# Bank

In [ ]:
df_bank = pd.DataFrame()
df_bank = bank(df_bank)
df_bank.to_csv('bank_results_diego_2.csv')

# Adult

In [ ]:
df_adult = pd.DataFrame()
df_adult = adult(df_adult)
df_adult.to_csv('adult_results_diego_2.csv')

In [2]:
df_compas = pd.DataFrame()
df_compas = compas(df_compas)
df_compas.to_csv('compas_results_marina.csv')

(Compas - Massaging) - Classificador SVM2 (1/1) - Progresso Geral (51/51)

In [ ]:
df_compas = pd.DataFrame()
d = compas(df_compas)
l = []
for x in d.dataset.feature_names:
    l.append(x.replace(',',''))

In [ ]:
d.dataset.feature_names= l

In [4]:
pd.read_csv('bases/titanic.csv', sep = ';')

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000
883,1,1,female,19.0,0,0,30.0000
884,0,3,female,7.0,1,2,23.4500
885,1,1,male,26.0,0,0,30.0000
886,0,3,male,32.0,0,0,7.7500

In [2]:
df_titanic = pd.DataFrame()
df_titanic = titanic(df_titanic)
df_titanic.to_csv('titanic_results_marina.csv')

(Titanic - Massaging) - Classificador SVM2 (1/1) - Progresso Geral (51/51)

In [ ]:
d  = datasets_loader()
d.load_titanic_dataset()
titanic_orig = d.dataset